html {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

h3 {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

.link {
    font-family: Verdana;
    color: aquamarine;
    display: block;
    font-size: 16px;
}

.copyright {
    font-family: Verdana;
    text-align: right;
    color: gray;
}